.table td:nth-child(5) {
    width: 160px;
}

.table {


    .table-head {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

    }

    .table-body {
        padding: 0;
        margin-top: 0;
        height: 50px;
        min-height: 50px;

        &.full-height {
            height: 600px;
            min-height: 600px;
        }
    }

}


