.hidden-arrow {
    visibility: hidden;
}

.pages {
    display: flex;
    gap: 10px;
    margin: 0 auto;
}

.active-page {
    color: blue;
    transform: scale(1.5);
}

.left-pointer,.right-pointer {

    &:hover {
        cursor: pointer;
    }
}

.page-number {


    &:hover {
        transform: scale(2);
        cursor:pointer;
    }
}