.currency-buttons {
    display: flex;
    align-items: center;

    .currency-div {
        font-size: 1.8rem;
    }

    .ui.black.basic.button {
        transform: scale(0.9);

        &:hover {
            outline-style: groove;
            background-color: grey !important;
            color: white !important;
        }

        &.active-currency {
            background-color: grey !important;
            color: white !important;
        }
    }
}  
    

