.ui.black.basic.button {
    transform: scale(0.9);

    &:hover {
        outline-style: groove;
        background-color: grey !important;
    }

    &.active-currency {
        background-color: grey !important;
    }
}

